PORT=5000
MONGO_URI=your db connection uri
SESSION_SECRET=long scrambled long string
JWT_SECRET=long scrambled long string
GITHUB_CLIENT_ID=your github client id 
GITHUB_CLIENT_SECRET=your github client secret
GOOGLE_CLIENT_ID=your google client id
GOOGLE_CLIENT_SECRET=your oogle client secret
GEMINI_API_KEY=your gemini api key
MISTRAL_API_KEY=your mistral api key
COHERE_API_KEY=your cohere api key