@import "tailwindcss";

@theme {
  --font-sans: "Press Start 2P", system-ui, sans-serif;

  --color-velora-bg: #091413;
  --color-velora-sidebar: #1e1e1d;
  --color-velora-card: #e0d8be;
  --color-velora-text: #e0d8be;
  --color-velora-text-muted: #6b6b6b;
  --color-velora-text-light: #e0e0e0;
  --color-velora-text-light-muted: #9e9e9e;
  --color-velora-accent-green: #4ade80;
  --color-velora-accent-blue: #3b82f6;
  --color-velora-accent-yellow: #eab308;
  --color-velora-accent-purple: #a855f7;
  --color-velora-accent-red: #ef4444;
}

body {
  background-color: var(--color-velora-bg);
  color: var(--color-velora-text);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* background: radial-gradient(circle at 50% -20%, #064e3b 0%, #000000 60%); */
  @apply text-white antialiased;
  
  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none; 
  scrollbar-width: none;
}
html {
  scroll-behavior: smooth;
}
/* Scrollbar styling for feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-velora-bg);
}
::-webkit-scrollbar-thumb {
  background: var(--color-velora-sidebar);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-velora-card);
}

/* Custom Minecraft-style green secondary button */
/* .btn-secondary {
  @apply bg-[#10B981] text-black border-b-4 border-r-4 border-[#065f46] active:translate-y-1 active:border-0;
} */
